<div class="m-6 text-xl">
    <p class="text-white/80">
        Soy un apasionado <span class="text-yellow-200/70">Desarrollador Fullstack</span> con
        experiencia en la implementación de
        metodologías ágiles como SCRUM para un
        desarrollo eficiente en el Backend y Frontend.
    </p>
    <p class=" text-white/80">
        Mi sólida capacidad para resolver problemas de
        código y crear soluciones de servicio destaca mi
        enfoque centrado en las necesidades de los
        usuarios. Con conocimientos en arquitectura de
        software, valoro el trabajo en equipo y la
        retroalimentación efectiva. Mi capacidad de
        adaptación a cambios y nuevas tecnologías se
        ha demostrado en proyectos individuales y de
        equipo.
    </p>
    <p class=" text-white/80">
        Autónomo y con habilidades de
        liderazgo, desarrollo proyectos desde la idea
        hasta la implementación, asegurando enfoque
        ágil y eficiencia en cada paso del proceso
    </p>
</div>