---
import ExpirienceItem from "./ExpirienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Junio 2023 - Actual',
        title: 'Líder Técnico y Full Stack Developer - Coovitel Cooperativa de Ahorro y Crédito',
        description: 'Encabecé el diseño y desarrollo de soluciones tecnológicas escalables para más de 15,000 asociados, asegurando eficiencia y optimización en los procesos de la cooperativa. Planifiqué arquitecturas robustas aplicando patrones de diseño y metodologías ágiles, liderando equipos en el desarrollo de productos clave como sistemas de digiturnos, simuladores de crédito, dashboards interactivos y módulos administrativos. Fomenté un entorno colaborativo, promoviendo buenas prácticas de desarrollo, automatización de procesos y mejoras continuas en la experiencia del usuario.'
    },
    // {
    //     date: 'Noviembre 2024 - Febrero 2025',
    //     title: 'Full Stack Developer - Universidad del Rosario',
    //     description: 'Desarrollé una aplicación móvil multiplataforma con Flutter, mejorando la accesibilidad a noticias, eventos y seguimiento de calificaciones para estudiantes. Además, diseñé e implementé una API REST y una plataforma web administrativa que permitía la gestión eficiente de contenidos. Coordiné el desarrollo con equipos internos y aseguré una integración fluida con otros servicios digitales de la universidad, garantizando una experiencia de usuario intuitiva y optimizada.'
    // },
    {
        date: 'Mayo 2022 - Mayo 2023',
        title: 'Desarrollador Full Stack - Cooperativa de Ahorro y Crédito Cootratiempo',
        description: 'Como freelance, desempeñé un rol clave en el desarrollo de soluciones tecnológicas para la cooperativa. Lideré la creación de un módulo de PQRs (Peticiones, Quejas y Reclamos), que optimizó significativamente la gestión de solicitudes de los usuarios, mejorando la trazabilidad y reduciendo los tiempos de respuesta, lo que resultó en una mayor eficiencia operativa. Además, diseñé e implementé un simulador de crédito dinámico, que automatizó y optimizó los cálculos y proyecciones financieras para diversas líneas de crédito. Mi trabajo incluyó la planificación de la arquitectura de software, integración de bases de datos (SQL y NoSQL), y desarrollo full stack, con un enfoque en la escalabilidad, el mantenimiento a largo plazo y la integración continua, asegurando que las soluciones fueran sostenibles y fácilmente adaptables al crecimiento de la cooperativa.'
    }

    // {
    //     date: 'Diciembre 2022 - Febrero 2023',
    //     title: 'Full Stack Developer - Linked Farmers',
    //     description: 'Desarrollé una aplicación móvil enfocada en la industria agrícola, facilitando la conexión entre pequeños agricultores y el mercado. Trabajé en el diseño de la plataforma, garantizando una experiencia de usuario accesible y eficiente. La solución permitió a los productores publicar y gestionar sus productos de manera autónoma, ampliando su alcance y oportunidades de venta.'
    // }
]


---

<ol class="relative border-s border-gray-200">                  
    {
        EXPERIENCE.map(expirience => (
            <li class="mb-10 ms-4">
                <ExpirienceItem {...expirience}/>
            </li>
        ))
    }
</ol>

