---
import ExpirienceItem from "./ExpirienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Junio 2023 - Actual',
        title: 'Coovitel Cooperativa de Ahorro y Credito',
        description: 'Como líder del área de desarrollo en un cargo fijo, ejerzo el rol de Full Stack Developer, gestionando tanto el frontend como el backend. Planifico y desarrollo aplicaciones y automatizaciones que benefician a más de 15,000 asociados, aplicando patrones de arquitectura, principios de diseño y metodologías ágiles. He liderado el desarrollo de productos clave como sistemas de digiturnos, simuladores de crédito, dashboards interactivos y módulos administrables, mejorando la experiencia del usuario y optimizando los servicios y la atención de la cooperativa.'
    },
    {
        date: 'Marzo 2024 - Diciembre 2024',
        title: 'Full Stack Developer - Cooperativa de Ahorro y Credito Cootratiempo',
        description: 'Como freelance, desarrollé un módulo de PQRs para gestionar solicitudes de usuarios y un simulador de crédito que facilitaba cálculos dinámicos de cuotas. El proyecto mejoró los servicios de la cooperativa, abarcando diseño de arquitectura, desarrollo frontend y backend, e integración de bases de datos.'
    },
    {
        date: 'Diciembre 2022 - Febrero 2023',
        title: 'Linkend Farmers',
        description: 'Desarrollo de app movile para la industria agricultura, buscamosromper las barreras del mercado con los campesinos o pequeños agricultores y que puedan tener un mayor alcance de sus productos.'
    }
]
---

<ol class="relative border-s border-gray-200">                  
    {
        EXPERIENCE.map(expirience => (
            <li class="mb-10 ms-4">
                <ExpirienceItem {...expirience}/>
            </li>
        ))
    }
</ol>

