<header class=" justify-center items-center hidden py-8 w-full xl:w-[1120px] md:flex mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-90">
        <a class="hover:scale-105" href="#top">Inicio</a>
        <a class="hover:scale-105" href="#experiencia">Experiencia</a>
        <a class="hover:scale-105" href="#proyectos">Proyectos</a>
        <a class="hover:scale-105" href="#educacion">Educación</a>
        <a class="hover:scale-105" href="#sobre-mi">Sobre mí</a>
        <a class="hover:scale-105" href="#contactos">Contacto</a>
    </nav>
</header>