<header id="header" class="justify-center items-center py-8 w-[70%] xl:w-[1120px] md:flex mx-auto">
    <nav class="flex flex-wrap justify-center items-center gap-x-10 gap-y-2 opacity-90">
        <a class="hover:scale-105 text-white/80 hover:text-white" href="#top">Inicio</a>
        <a class="hover:scale-105 text-white/80 hover:text-white" href="#experiencia">Experiencia</a>
        <a class="hover:scale-105 text-white/80 hover:text-white" href="#projects">Proyectos</a>
        <a class="hover:scale-105 text-white/80 hover:text-white" href="#education">Educación</a>
        <a class="hover:scale-105 text-white/80 hover:text-white" href="#sobre-mi">Sobre mí</a>
        <a class="hover:scale-105 text-white/80 hover:text-white" href="#skills">Skills</a>
    </nav>
</header>