---
import Github from './icons/GithubIcon.astro';
import Tailwind from './icons/Tailwind.astro';
import C from './icons/C.astro';
import Html from "./icons/Html.astro"
import Django from "./icons/Django.astro"
import JavaScript from "./icons/JavaScript.astro"
import React from "./icons/React.astro"
import CssIcon from "./icons/Css.astro"
import Node from "./icons/Node.astro"
import Flutter from "./icons/Flutter.astro"
import Flask from "./icons/Flask.astro"
import MyIcon from './icons/MyIcon.astro';
import MySQL from './icons/MySQL.astro';
import TypeScript from './icons/TypeScript.astro'
import Express from './icons/Express.astro'
import Next from './icons/Next.astro'
import Git from './icons/Git.astro'
---

<div class="flex flex-wrap justify-center gap-5">
    <img class="h-24" src="/python.webp" alt="">
    <Django class="size-20" />
    <Flask class="size-20" />
    <React class="size-20" />
    <JavaScript class="size-20" />
    <MyIcon class="size-20" />
    <Node class="size-20" />
    <TypeScript class="size-20" />
    <Express class="size-20" />
    <Next class="size-20" />
    <Github class="size-20" />
    <Git class="size-20" />
    <Tailwind class="size-20"/>
    <MySQL class="size-20" />
    <Flutter class="size-20" />
    <CssIcon class="size-20" />
    <Html class="size-20" />
</div>